set scrolloff=8
set relativenumber

" Do incremental searching.
set incsearch

let mapleader=" "

"" -- Vim Remaps
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

nnoremap J mzJ`z
nnoremap n nzzzv
nnoremap N Nzzzv
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz

xnoremap <leader>p "_dP
nnoremap <leader>d "_d
vnoremap <leader>d "_d

nnoremap Y y$
nnoremap <leader>y "+y
vnoremap <leader>y "+y
nnoremap <leader>Y "+Y

inoremap <C-c> <Esc>

nnoremap <leader>sr :%s/\<\>//gc

nnoremap Q gq
vnoremap Q gq
map <leader>f <Action>(ReformatCode)

